#container {
    position: relative;
}

#gonghack {
    position: absolute;
    width: 160px;
    top: 8vw;
    left: 34vw;
}

#gyoyang {
    position: absolute;
    width: 160px;
    top: 3vw;
    left: 67vw;
}

#gisook {
    position: absolute;
    width: 160px;
    top: 40vw;
    left: 17vw;
}

#doseo {
    position: absolute;
    width: 160px;
    top: 30vw;
    left: 47vw;
}

#baecknyeon {
    position: absolute;
    width: 160px;
    top: 21vw;
    left: 25vw;
}

#auhmun {
    position: absolute;
    width: 160px;
    top: 18vw;
    left: 72vw;
}

#inkyeong {
    position: absolute;
    width: 160px;
    top: 2vw;
    left: 82vw;
}

#huseang {
    position: absolute;
    width: 160px;
    top: 17vw;
    left: 44vw;
}